[submodule "zephyr-dw3000-decadriver"]
	path = zephyr-dw3000-decadriver
	url = https://github.com/br101/zephyr-dw3000-decadriver
[submodule "zephyr-dw3000-driver"]
	path = zephyr-dw3000-driver
	url = https://github.com/vacabun/zephyr-dw3000-driver.git
